.shippingBD li{
    font-family: "Arial",serif;
    font-weight: bold;
}
.whiteForm{
    background-color: #ffffff;
}
.p50{
    width: 50%;
}
sup{
    color: red;

}
.padding{
    padding: 10px 10px 10px 10px;
}
.left{
  left:10px;
}
.paymentpart{
    color: #fffafa;
}
.font1{
    color: #0b0b0b;
}
.bkash{
    background-color: #d9deda;
    color: #0b0b0b;
    display: none;
}
.cash{
    display: block;
}
.cart_totals{
    color: #0b0b0b;
}
.paddingbkash{
    padding: 15px 15px 15px 15px;
}
.payposition{
    right:0;
}
.redfont{
    color: red;
}
.confirmbutton{
   bottom: 0;
    color: white;
    background-color: #171717;
    width: 150px;
    height: 50px;

    float: right;
}
.confirmbutton:hover {
    background-color: darkred;
}
